$bg-dfdfdf: #dfdfdf;
$bg-f0f5fa: #f0f5fa;
$bg-f5f5f5: #f5f5f5;
$bg-ffffff: #ffffff;
$bg-262626: #262626;
$border-dfdfdf: #dfdfdf;
$color-000000: #000;
$color-333333: #333;
$color-dfdfdf: #dfdfdf;
$color-ffffff: #ffffff;
$shadow: 0px 0px 20px rgba($color: #000000, $alpha: .35);
$fontSize16: 16px;

// 导航栏高度
$gs-tabs-height: 60px;

// 首页色值
$list-1: #5898ec;
$list-2: #51c1d1;
$list-3: #f5a463;
$list-4: #f86870;